*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Comfortaa', cursive;
}

section{
	padding: 80px 0;
}

h1{
	font-size: 75px;
	font-weight: 400;
	color: white;
}

h2{
	color: #445A8F;
	font-size: 70px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: thin solid grey;
}

h3{
	color: white;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h4{
	font-weight: 400;
}

p{
	font-family: 'Poppins', sans-serif;
	color: #36454F;
}

img{
	width: 100%;
	display: block;
	height: auto;
}

.btn1{
	display: inline-block;
	text-decoration: none;
	background-color: #7A97EB;
	border-radius: 25px;
	color: #17243F;
	padding: 15px 35px;
	font-size: 25px;
	font-weight: 900;
	transition: 0.5s;
}

.btn1:hover{
	background-color: white;
}

.btn2{
	display: inline-block;
	text-decoration: none;
	border: 3px solid #B9D9FF;
	border-radius: 30px;
	color: #B9D9FF;
	padding: 18px 45px;
	font-size: 35px;
	font-weight: 700;
	margin-top: 80px;
	transition: 0.5s;
}

.btn2-single{
	margin-top: 0;
}

.btn2:hover{
	border: 3px solid white;
	color: white;
}

.btn-equipe{
	display: inline-block;
	text-decoration: none;
	position: relative;
    z-index: 1;
	font-weight: 700;
	font-size: 26px;
	text-align: center;
	color: #17243F;
	margin-top: 30px;
	transition: 0.5s;
}

.btn-equipe:hover{
	color: #7A97EB;
}

.container{
	max-width: 1400px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.header{
	border-bottom: thin solid grey;
	background-color: transparent;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	 z-index: 1000; /* Définissez une valeur de z-index élevée pour le header */
}

.header-black{
	position: fixed;
	width: 100%;
	z-index: 1000;
	background-color: black;
	opacity: 0.9;
}

header:hover{
	border-bottom: thin solid #7A97EB;
}

.header-flex{
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	margin-top: 20px;
}

.burger{
	cursor: pointer;
	display: none;
	color: white;
	font-size: 35px;
}

.close-icon{
	display: none;
}

.burger:hover{
	color: #7A97EB;
}

.menu{
	font-size: 18px;
}

.pages{
	display: flex;
	list-style: none;
}

.pages li{
	margin-left: 80px;
}

.pages a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

header a:hover{
	color: #7A97EB;
	border-bottom: 1px solid #7A97EB;
}

header a{
	transition: 0.75s;
}

.banniere{
	position: relative;
}

.banner{
	height: 100vh;
	background-position: start;
	background-size: cover;
}

.banner-slides{
	margin-top: -90px;
	margin-left: -45px;
	margin-right: -45px;
}

.textbox{
	width: 1400px;
	max-width: 90%;
	padding: 40px 0;
	color: white;
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.textbox p{
	max-width: 400px;
	color: white;
	padding: 50px 0;
	font-size: 20px;
	text-align: justify;
    text-justify: inter-word;
}

.about{
	margin-top: -80px;
	background-color: white;
}

.about-flex{
	display: flex;
	justify-content: space-between;
}

.droite{
	width: 55%;
}

.nos-services{
	background-image: url(bg-nos-services.png);
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
}

.nos-services h2{
	font-weight: 300;
	color: white;
	border-bottom: thin solid white;
	margin-bottom: 40px;
}

.nos-services ul{
	font-family: 'Poppins', sans-serif;
	list-style: none;
	color: white;
}

.services-flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 250px;
	padding-right: 250px;
}

.services-card{
	margin-bottom: 50px;
	width: 40%;
}

.equipement{
	background-color: white;
}

.titre2{
	text-align: center;
	margin-bottom: 100px;
}

.titre2 h2{
	color: #445A8F;
}

.equipement-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.equipement-card{
	width: 20%;
}

.equipement-img img{
	border-radius: 50%;
}

.equipement-titre h5{
	text-align: center;
	margin-top: 30px;
	color: #17243F;
	font-weight: 900;
}

.horaire{
	background-image: url(bg-horaire.png);
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
}

.horaire h2{
	font-weight: 400;
	color: #B9D9FF;
	border-bottom: thin solid white;
}

.horaire p{
	font-weight: 300;
	font-size: 30px;
	color: white;
}

.horaire-box{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.horaire-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	margin-bottom: 30px;
	border-bottom: thin solid white;
	font-size: 24px;
}

.center{
	display: flex;
    justify-content: center;
    align-items: center;
}

.item{
	margin: 0 20px;
}

.equipe-img{
	background-color: dodgerblue;
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	height: 400px;
	width: 400px;
}

.item .equipe-img{
	border-radius: 50%;
}

.slick-arrow{
	cursor: pointer;
	position: absolute;
	z-index: 2;
	top: 45%;
	transform: translateY(-50%);
}

.slick-prev{
	left: -30px;
}

.slick-next{
	right: -30px;
}

.single-titre{
	background-color: #17243F;
}

.single-titre h1{
	text-align: center;
	margin-top: 100px;
}

.single{
	padding: 0;
}

.single-flex{
	display: flex;
	justify-content: space-between;
}

.single-flex main{
	width: 100%;
}

.single-flex aside{
	padding-right: 80px;
	padding-top: 80px;
	padding-left: 80px;
}

.titre2-single{
	text-align: center;
	margin-bottom: 40px;
}

.page-equipement{
	height: 500px;
	background-image: url(bg-page-equipement.png);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: end;
}

.textbox-equipement{
	text-align: center;
	max-width: 90%;
}

.textbox-equipement p{
	color: white;
	font-weight: 300;
}

.galerie{
	padding: 120px 0;
}

.galerie-flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.galerie-card{
	position: relative;
	width: calc(100% / 3);
	overflow: hidden;
}

.galerie-card img {
  transition: transform 0.7s ease;
}

.galerie-card:hover img {
  transform: scale(1.2);
}

.galerie-titre{
	position: absolute;
  	z-index: 2;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.galerie-titre h5{
	font-size: 40px;
	text-align: center;
	color: white;
}

.page-contact .btn1{
	margin-top: 60px;
}

.page-contact{
	height: 500px;
	background-image: url(cabinet-dentiste.png);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: end;
}

footer{
	background-color: #17243F;
	padding-bottom: 40px;
}

footer ul{
	list-style: none;
}

footer ul li{
	margin-bottom: 20px;
	color: white;
}

footer h5{
	text-transform: uppercase;
	font-size: 18px;
	color: #445A8F;
	margin-bottom: 30px;
}

footer .logo{
	margin-top: -30px;
}

footer .center p{
	color: white;
	font-size: 12px;
	margin-top: 10px;
}

.footer-flex{
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.footer-flex .droite{
	display: flex;
	justify-content: space-between;
	align-items: start;
	width: 40%;
	padding-top: 40px;
}

.adresse , 
.service{
	text-align: right;
}

.reso{
	margin-left: 120px;
}

.reso i{
	color: #445A8F;
	font-size: 35px;
	margin-left: 20px;
}

@media only screen and (max-width: 1000px) {

	section{
		padding: 50px 0;
	}

	h1{
		font-size: 50px;
	}

	h2{
		font-size: 40px;
	}

	h3{
		font-size: 15px;
	}

	h4{
		font-size: 20px;
	}

	h5{
		font-size: 12px;
	}

	p{
		font-size: 12px;
	}

	.btn1{
		border-radius: 15px;
		padding: 10px 25px;
		font-size: 18px;
	}

	.btn2{
		border: 3px solid #B9D9FF;
		border-radius: 25px;
		padding: 15px 35px;
		font-size: 25px;
		font-weight: 700;
		margin-top: 60px;
	}

	.btn-equipe{
		font-size: 20px;
		margin-top: 25px;
	}

	.container{
		max-width: 1000px;
	}

	.header-flex{
		height: 90px;
	}

	.logo img{
		width: 80%;
	}

    .burger {
        display: block;
    }

    .pages{
    	display: block;
    }

    .pages li{
    	margin: 80px 0;
    	font-size: 60px;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #17243F;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0; 
        visibility: hidden;
        transition: opacity 1s, visibility 1s;
    }

    body.menu-ouverte .menu {
        opacity: 1;
        visibility: visible; 
    }

    .close-icon {
        font-size: 40px;
        color: white;
        position: absolute;
        top: 40px;
        right: 45px;
        cursor: pointer;
        display: none;
        z-index: 2000;
    }
    
    .menu-ouverte .close-icon {
        display: block;
    }

    .banner{
    	height: 70vh;
    }

    .textbox{
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    }

    .textbox p{
		font-size: 15px;
	}

	.about{
		margin-top: -40px;
	}

	.about .gauche{
		width: 40%;
	}

	.about-flex{
		align-items: center;
	}

	.services-flex{
		padding-left: 150px;
		padding-right: 150px;
	}

	.nos-services ul{
		font-size: 12px;
	}

	.titre2{
		margin-bottom: 50px;
	}

	.horaire p{
		font-size: 20px;
	}

	.equipe-img{
		height: 350px;
		width: 350px;
	}

	.titre2-single{
		margin-bottom: 0;
	}

	.galerie{
		padding: 80px 0;
	}

	.galerie-card{
		width: calc(100% / 2);
	}
	
	.galerie-titre h5{
		font-size: 30px;
	}

	footer ul li{
		margin-bottom: 10px;
	}

	footer li{
		font-size: 12px;
	}

	footer h5{
		font-size: 15px;
		margin-bottom: 20px;
	}

	footer .logo{
		margin-top: -15px;
	}

	footer .center p{
		font-size: 10px;
		margin-top: 30px;
	}

	.footer-flex .droite{
		width: 60%;
		padding-top: 30px;
	}

	.reso{
		margin-left: 80px;
	}

	.reso i{
		font-size: 30px;
		margin-left: 10px;
	}
}

@media only screen and (max-width: 600px){

	section{
		padding: 40px 0;
	}

	h1{
		font-size: 40px;
	}

	h2{
		text-align: center;
		font-size: 30px;
	}

	h4{
		font-size: 15px;
	}

	.btn1{
		border-radius: 13px;
		padding: 8px 20px;
		font-size: 15px;
	}

	.btn2{
		border: 2px solid #B9D9FF;
		border-radius: 18px;
		padding: 10px 25px;
		font-size: 20px;
		margin-top: 30px;
	}

	.btn-equipe{
		font-size: 15px;
		margin-top: 20px;
	}

	.header-flex{
		height: 60px;
	}

	.logo img{
		width: 60%;
	}

	.burger{
		font-size: 25px;
	}

	.banner{
		height: 50vh;
	}

	.textbox{
		text-align: center;
	}

	.textbox p{
		margin-left: auto;
		margin-right: auto;
		padding: 30px 0;
		font-size: 12px;
	}

	.about-flex{
		display: block;
	}

	.droite{
		width: 100%;
		margin-top: 20px;
	}

	.about .gauche{
		width: 100%;
	}

	.services-flex{
		padding-left: 0px;
		padding-right: 0px;
	}

	.nos-services ul{
		font-size: 12px;
	}

	.services-card{
		margin-bottom: 30px;
		width: 50%;
	}

	.equipement-card{
		width: 45%;
		margin-bottom: 20px;
	}

	.equipement-titre h5{
		margin-top: 15px;
	}

	.horaire-box{
		width: 70%;
	}

	.horaire-flex{
		margin-bottom: 20px;
	}

	.equipe .container{
		width: 70%;
	}

	.slick-arrow{
		top: 50%;
		transform: translateY(-50%);
	}

	.single-flex{
		flex-wrap: wrap;
	}

	.single-flex .equipe-img{
		width: 100%;
	}

	.single-flex aside{
		padding: 40px;
	}

	.galerie{
		padding: 40px 0;
	}

	.galerie-card{
		width: 100%;
	}
	
	.galerie-titre h5{
		font-size: 30px;
	}

	footer .logo img{
		width: 100%;
	}

	.footer-flex{
		display: block;
	}

	.footer-flex .droite{
		margin-left: auto;
		margin-right: auto;
		padding-top: 20px;
	}

	.adresse , 
	.service{
		text-align: center;
	}

	.reso{
		display: flex;
		justify-content: center;
		margin-top: -50px;
		margin-left: 0px;
	}

	.reso i{
		font-size: 30px;
		margin-left: 10px;
	}
	

}